<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>Hui</title>
		<link rel="stylesheet" type="text/css" href="../../css/Hui.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css"/>
		<style></style>
	</head>
	<body>
		<div class="H-padding-vertical-bottom-5"></div>
		<div class="content H-padding-vertical-both-10 H-margin-horizontal-both-5 H-theme-background-color-white">
			<div class="H-flexbox-horizontal H-box-sizing-border-box H-margin-vertical-bottom-10">
				<div class="H-flex-item H-text-align-center">
					<span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color1"> <i class="H-iconfont H-icon-familyarea H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i> </span>
					<span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">健身部落</span>
				</div>
				<div class="H-flex-item H-text-align-center">
					<span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color2"> <i class="H-iconfont H-icon-femaleanchors H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i> </span>
					<span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">美肤中心</span>
				</div>
				<div class="H-flex-item H-text-align-center">
					<span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color7"> <i class="H-iconfont H-icon-aliwangwang H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i> </span>
					<span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">化妆视频</span>
				</div>
				<div class="H-flex-item H-text-align-center">
					<span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color5"> <i class="H-iconfont H-icon-camera H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i> </span>
					<span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">防痘祛痘</span>
				</div>
			</div>
			<div class="H-flexbox-horizontal H-box-sizing-border-box">
				<div class="H-flex-item H-text-align-center">
					<span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color1"> <i class="H-iconfont H-icon-familyarea H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i> </span>
					<span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">游戏达人</span>
				</div>
				<div class="H-flex-item H-text-align-center">
					<span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color2"> <i class="H-iconfont H-icon-femaleanchors H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i> </span>
					<span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">运动联盟</span>
				</div>
				<div class="H-flex-item H-text-align-center">
					<span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color7"> <i class="H-iconfont H-icon-aliwangwang H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i> </span>
					<span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">修身养性</span>
				</div>
				<div class="H-flex-item H-text-align-center">
					<span class="H-vertical-middle H-horizontal-center H-margin-horizontal-auto H-width-40 H-height-40 H-theme-background-color5"> <i class="H-iconfont H-icon-camera H-display-block H-display-block H-font-size-24 H-theme-font-color-white"></i> </span>
					<span class="H-font-size-13 H-theme-font-color-666 H-padding-vertical-top-3 H-display-block H-text-show-row-1">全民篮球</span>
				</div>
			</div>
		</div>
		<!-- <div class="H-padding-vertical-bottom-10"></div>-->
		<div class="H-flexbox-horizontal H-margin-vertical-both-5">
			<div class="H-flex-item H-margin-horizontal-right-5"><img src="../../image/boygir/b2.jpeg" class="H-display-block H-width-100-percent" />
			</div>
			<div class="H-flex-item H-margin-horizontal-right-5"><img src="../../image/boygir/g4.jpg" class="H-display-block H-width-100-percent" />
			</div>
		</div>
		<div class="H-padding-vertical-both-10 H-flexbox-horizontal">
			<div class="H-flex-item H-text-align-center H-margin-horizontal-right-5">
				<button class="H-button H-font-size-15 H-outline-none H-theme-background-color-transparent  H-padding-vertical-both-8 H-padding-horizontal-both-20 H-theme-font-color1 H-theme-border-color1 H-theme-border-color1-click H-theme-background-color1-click H-theme-font-color1-click H-border-radius-3">
					男神
				</button>
			</div>
			<div class="H-flex-item H-text-align-center H-margin-horizontal-right-5">
				<button class="H-button H-font-size-15 H-outline-none H-theme-background-color-transparent  H-padding-vertical-both-8 H-padding-horizontal-both-20 H-theme-font-color1 H-theme-border-color1 H-theme-border-color1-click H-theme-background-color1-click H-theme-font-color1-click H-border-radius-3">
					女神
				</button>
			</div>
		</div>
		<ul id="news" class="H-padding-vertical-bottom-7 H-overflow-hidden">
			<li v-for="item in items" v-on:click="openwin('../news/news_win', item.id)" class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-margin-vertical-top-7">
				<div class="H-padding-vertical-both-10 H-box-sizing-border-box">
					<img v-bind:src="format_imgSrc(item.image)" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 70px; height: 70px;" />
				</div>
				<div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 90px; ">
					<strong class="H-font-weight-normal font-weight-500 H-font-size-15 H-display-block H-text-show-row-2">{{item.brief}}</strong>
					<p class="H-font-size-10 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;">
						<span class="H-float-left">来自网络</span><span class="H-float-right">{{transform(item.ctime)}}</span>
					</p>
				</div>
			</li>
		</ul>
		<!--<ul id="num">
		<li v-for="n in numbers">
		{{ n.key }} <img v-bind:src="n.src" alt="" />
		</li>
		</ul>-->
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/vue.min.js"></script>
	<script type="text/javascript">
		//		var num = new Vue({
		//			el : '#num',
		//			data : {
		//				numbers : [{
		//					key : 1,
		//					src : "../../image/banner.png"
		//				}, {
		//					key : 2,
		//					src : "../../image/logo.png"
		//				}]
		//			},
		//			methods : {
		//				aa : function(num) {
		//					return num + 1;
		//				}
		//			}
		//		})
		apiready = function() {
			show_newsList()
		}
		function show_newsList() {
			api.ajax({
				url : url + '/news/all/id/2',
				method : 'post',
			}, function(ret, err) {
				if (ret) {
//					console.log($api.jsonToStr(ret));
					if (ret.status == 1) {
						new Vue({
							el : '#news',
							data : {
								items : ret.data
							}
						})
					} else {
						toast(ret.msg);
					}
				} else {
					toast('获取新闻列表失败，请稍后重试！');
				}
			});
		}
	</script>
</html>